
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<script>
    $('document').ready(function () {
        $('.nav a').removeClass("active");
        $('#navItemReports').addClass("active");
    });
</script>

